<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronOcr" version="4.4.0" targetFramework="net472" />
  <package id="IronOcr.Languages.Korean" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Polish" version="4.4.4.1" targetFramework="net472" />
  <package id="IronPdf" version="2019.8.9" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
</packages>